body,
button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}

.game {
  display: flex;
  justify-content: center;
}

.board-row {
  display: flex;
}

button {
  border: solid 1px rgb(95, 91, 91);
  color: rgb(95, 91, 91);
  background-color: lightgrey;
  font-weight: 700;
  border-radius: 3px;
  text-align: left;
}

.square {
  border: solid 1px rgb(122, 138, 95);
  color: rgb(67, 85, 36);
  background-color: rgb(189, 201, 189);
  width: 4rem;
  height: 4rem;
  font-size: large;
  text-align: center;
  font-size: 1.7rem;
}

button:hover {
  background-color: rgb(240, 251, 255);
}
